<div class="container">
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <h2>Cart show</h2>
      <ul>
          <% @cart.line_dishes.each do |line_item| %>
            <%if line_item.dish.place.id == @place.id %>
              <li>Item: <%= line_item.dish.name %>/
                Price: <%= number_to_currency(line_item.dish.price) %>/
                Quantity: <%= line_item.quantity %>/
                Total Price: <%= number_to_currency(line_item.total_price) if line_item.dish.place.id == @place.id %>
              </li>
            <% end %>
          <% end %>
      </ul>

      <h3>Sub total: <%= number_to_currency(@cart.sub_total)%></h3>

      <div class="">
        <%= link_to "Back", places_path, class: 'btn btn-primary mt-2' %>
      </div>
      </div>
    </div>
</div>
