<h1 class="mt-4">All places</h1>


<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
  </tr>

  <% @places.each do |place| %>
    <tr>
      <td>
        <% if place.picture.attached? %>
          <%= image_tag place.picture, size: 100 %>
        <% end %>
      </td>
      <td>
        <%= link_to place.name, place_path(place) %>
      </td>
    </tr>
  <% end %>
</table>
