<div class="container">
  <div class="row">
    <div class="col-9">
      <h1><%= @place.name %></h1>
    </div>
    <div class="col-4">
      <% if @place.picture.attached? %>
        <%= image_tag @place.picture, size: 200 %>
      <% end %>
    </div>
    <div class="col-6">
      <%= @place.description %>
    </div>
    <div class="col-2">
      <%= link_to 'Cart', carts_show_path(place_id: @place.id) %>
    </div>
  </div>
  <br/>
  <h2>Dishes</h2>
  <div class="row">
  <% @place.dishes.each do |dish| %>
      <div class="col-3 border">
        <% if dish.image.attached? %>
          <%= image_tag dish.image, size: 100 %>
        <% end %>
        <%= dish.name %>
        <%= link_to 'Добавить в корзину', add_dish_path(@place.id, dish.id), method: :post %>
      </div>
  <% end %>
  </div>
  <%= link_to "Back", places_path, class: 'btn btn-primary mt-2' %>
</div>
