<!DOCTYPE html>
<html>
  <head>
    <title>EFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="">
      <%= render 'layouts/application/navbar' %>
    </div>
    <div class="">
      <%= yield %>
    </div>
  </body>
</html>
